
<div *ngIf="assetstatus">
    <h2><span jhiTranslate="apprefactoryApp.assetstatus.detail.title">Assetstatus</span> {{assetstatus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="apprefactoryApp.assetstatus.name">Name</span></dt>
        <dd>
            <span>{{assetstatus.name}}</span>
        </dd>
        <dt><span jhiTranslate="apprefactoryApp.assetstatus.nameshort">Nameshort</span></dt>
        <dd>
            <span>{{assetstatus.nameshort}}</span>
        </dd>
        <dt><span jhiTranslate="apprefactoryApp.assetstatus.description">Description</span></dt>
        <dd>
            <span>{{assetstatus.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'assetstatus/'+ assetstatus.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
